# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist files
dist/

# Editor and OS files
.DS_Store
.idea/
Thumbs.db

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Cache files
.cache
*__pycache__

# Vitepress build files
docs/.vitepress/dist
docs/.vitepress/cache
docs/api/
!docs/api/index.md
.vitepress/*

# Test
coverage/
